<!DOCTYPE html>
<html lang="en" ng-app="thiepgiangsinh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/christmas/thichemratnhieu2.jpg">
    <title>My à! Giáng Sinh tốt lành và thật nhiều niềm vui nha 😁</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/css01.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
</head>

<body ng-controller="giang_sinh_ctrl">
<div class="container-fluid ">
    <div class="container" style="margin-left: 800px">
        <button id="yeuemtramy" class="btn btn-md btn-success" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-tree" aria-hidden="true"></i>
            MỞ THIỆP GIÁNG SINH Ở ĐÂY Ạ! 😜😄
        </button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <div class="row">
                                <div class="form-group">
                                    <h4 class="modal-title text-success bg-success col-xs-12" id="myModalLabel">Thiệp
                                        giáng sinh:
                                        <button id="play" class="btn btn-danger btn-lg"
                                                ng-click="audio.paused ? audio.play() : audio.pause()">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                            Mở nhạc Giáng Sinh vui vẻ nè! ^^
                                        </button>
                                        <button id="stop" class="btn btn-success btn-sm" ng-click="audio.restart()">
                                            <i class="fa fa-stop" aria-hidden="true"></i>
                                        </button>

                                    </h4>


                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <h1 class="heading">
                                <div class="containeri ">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/thichemratnhieu10.jpg">
                                </div>
                            </h1>
                            <div class="containeri">

                                <div class="containeri">

                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/thichemratnhieu12.jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/thichemratnhieu11.jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/thichemratnhieu9.jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/thankyoubecausehappydaywithme.gif">
<!--                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"-->
<!--                                         src="img/christmas/thichemratnhieu8.jpg">-->
<!--                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"-->
<!--                                         src="img/christmas/thichemratnhieu7.jpg">-->
<!--                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"-->
<!--                                         src="img/christmas/thichemratnhieu5.jpg">-->
<!--                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"-->
<!--                                         src="img/christmas/thichemratnhieu4.jpg">-->
<!--                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"-->
<!--                                         src="img/christmas/thichemratnhieu3.jpg">-->
<!--                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"-->
<!--                                         src="img/christmas/thichemratnhieu2.jpg">-->
<!--                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"-->
<!--                                         src="img/christmas/thichemratnhieu.jpg">-->
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/giangsinhcungem (1).jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/giangsinhcungem (4).jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/giangsinhcungem (5).jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/giangsinhcungem (6).jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/giangsinhcungem (8).jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/giangsinhcungem (9).jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/giangsinhcungem (11).jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/giangsinhcungem (12).jpg">
                                    <img class="img img-responsive text-center col-xs-12 col-md-12 col-sm-12 col-lg-12"
                                         src="img/christmas/hoahuongduongtangem.jpg">
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Close thiệp 🙈🙈
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid footer navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-left heading">
                        Chúc em một mùa giáng sinh an lành và nhều niềm vui nhé! <br> Thi đậu Chứng chỉ ISTQB trong năm
                        như kế hoạch đề ra nè🎁❤️
                        <button id="thiepgiangsinh" class="btn btn-md btn-success" data-toggle="modal"
                                data-target="#myModal">
                            <i class="fa fa-tree" aria-hidden="true"></i>
                            Thiệp giáng sinh
                        </button>
                    </h1>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.audio.js"></script>
    <script src="js/fontawesome.min.js"></script>
    <script src="js/snowstorm-min.js"></script>
    <script src="js/js01.js"></script>

</div>
</body>

</html>